body {
  background-color: teal;
  color: #FFF;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#q1 {
  display: block;
  text-align: center;
  position: relative;
  top: 0;
}

#q2 {
  display: none;
  text-align: center;
  position: relative;
  top: 0;
}

#q3 {
  display: none;
  text-align: center;
  position: relative;
  top: 0;
}

#q4 {
  display: none;
  text-align: center;
  position: relative;
  top: 0;
}

#q5 {
  display: none;
  text-align: center;
  position: relative;
  top: 0;
}

#user_input, #question_result, #total_result {
  text-align: center;
}

#next {
  float: right;
}
